.header__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} 

@media screen and (max-width: 576px) {
    .header__email {
        display: none;
    }
}