.registration__button-save {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin-top: 177px;
    border-radius: 2px;
    padding: 14px 0 14px;
}