.registration__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

.registration__input:focus {
    background-color: transparent;
    outline: none;
}

.registration__input::placeholder {
    color: #ccc;
}